@using getdelays.be.Models;
@{
    ViewBag.Title = "See all Departure";
    DataApiPerStations s = ViewBag.station;
}

<h2>@s.stationinfo.name</h2>
<p>departure:</p>
<table>
    <thead>
        <tr>
            <td>Arrival Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>Train:</td>
        </tr>
    </thead>
    @foreach (ArrDep a in s.departures.departure)
    {
    <tr>
        <td>@a.station</td>
        <td>@a.tForView</td>
        <td>@a.delay</td>
        <td>@Html.ActionLink(a.vehicle, "GetTrain", "Home", routeValues: new { idTrain = a.vehicle }, htmlAttributes: null)</td>
    </tr>
    }
</table>
<a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
