@using getdelays.be.Models;
@{
    ViewBag.Title = "GetStationsByName";
    DataApiPerStations s = ViewBag.station;
}

<h2>@s.stationinfo.name</h2>
<p>Arrival:</p>
<table>
    <thead>
        <tr>
            <td>Departure Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>Train:</td>
        </tr>
    </thead>
    @for (int i = 0; i < 15; i++)
    {
        <tr>
            <td>@s.arrivals.arrival[i].station</td>
            <td>@s.arrivals.arrival[i].tForView</td>
            <td>@s.arrivals.arrival[i].delay minutes</td>
            <td>@Html.ActionLink(s.arrivals.arrival[i].vehicle, "GetTrain", "Home", routeValues: new { idTrain = s.arrivals.arrival[i].vehicle }, htmlAttributes: null)</td>
        </tr>
    }
</table>
@Html.ActionLink("See more...", "GetArrival", "Home", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)
<br />
<p>Departure:</p>
<table>
    <thead>
        <tr>
            <td>Arrival Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>train:</td>
        </tr>
    </thead>
    @for (int i = 0; i < 15; i++)
    {
    <tr>
        <td>@s.departures.departure[i].station</td>
        <td>@s.departures.departure[i].tForView</td>
        <td>@s.departures.departure[i].delay minutes</td>
        <td>@Html.ActionLink(s.departures.departure[i].vehicle, "GetTrain", "Home", routeValues: new { idTrain = s.departures.departure[i].vehicle }, htmlAttributes: null)</td>
    </tr>
    }

</table>
@Html.ActionLink("See more...", "GetDeparture", "Home", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)


