@using GetDelaysAPI;

@{
                /**/

                List<Connection> connections = ViewBag.Connections;
}
@if (connections.Count > 0)
{
    <h2> From @connections[0].departure.station to @connections[0].arrival.station</h2>
    <h3>Connections:</h3>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Station</th>
                    <th scope="col">Time</th>
                    <th scope="col">Delay</th>
                    <th scope="col">Number of changes</th>
                    <th scope="col">Train</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < connections.Count; i++)
                {
                    int nbr;
                    DateTime trainHourArr = new DateTime();
                    trainHourArr = trainHourArr.AddHours(2);
                    trainHourArr = trainHourArr.AddSeconds(Convert.ToInt32(connections[i].arrival.time));
                    DateTime trainHourDep = new DateTime();
                    trainHourDep = trainHourDep.AddHours(2);
                    trainHourDep = trainHourDep.AddSeconds(Convert.ToInt32(connections[i].departure.time));
                    if (connections[i].vias == null)
                    {
                        nbr = 0;
                    }
                    else
                    {
                        nbr = connections[i].vias.Count();
                    }
                    if (i % 2 == 0)
                    {
                        <tr class="table-primary">
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>From: @Html.ActionLink(connections[i].departure.station, "GetStationsByName", "Station", routeValues: new { station = connections[i].departure.station }, htmlAttributes: null)</li>
                                    <li>To: @Html.ActionLink(connections[i].arrival.station, "GetStationsByName", "Station", routeValues: new { station = connections[i].arrival.station }, htmlAttributes: null)</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@trainHourDep.TimeOfDay</li>
                                    <li>@trainHourArr.TimeOfDay</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@connections[i].departure.delay minutes</li>
                                    <li>@connections[i].arrival.delay minutes</li>
                                </ul>
                            </td>
                            <td>@nbr</td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@Html.ActionLink(connections[i].departure.vehicle, "GetTrain", "Train", routeValues: new { idTrain = connections[i].departure.vehicle }, htmlAttributes: null)</li>
                                    <li>@Html.ActionLink(connections[i].arrival.vehicle, "GetTrain", "Train", routeValues: new { idTrain = connections[i].arrival.vehicle }, htmlAttributes: null)</li>
                                </ul>
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>From: @Html.ActionLink(connections[i].departure.station, "GetStationsByName", "Station", routeValues: new { station = connections[i].departure.station }, htmlAttributes: null)</li>
                                    <li>To: @Html.ActionLink(connections[i].arrival.station, "GetStationsByName", "Station", routeValues: new { station = connections[i].arrival.station }, htmlAttributes: null)</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@trainHourDep.TimeOfDay</li>
                                    <li>@trainHourArr.TimeOfDay</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@connections[i].departure.delay minutes</li>
                                    <li>@connections[i].arrival.delay minutes</li>
                                </ul>
                            </td>
                            <td>@nbr</td>
                            <td>
                                <ul style="list-style-type: none;margin-left:0;padding-left:0;">
                                    <li>@Html.ActionLink(connections[i].departure.vehicle, "GetTrain", "Train", routeValues: new { idTrain = connections[i].departure.vehicle }, htmlAttributes: null)</li>
                                    <li>@Html.ActionLink(connections[i].arrival.vehicle, "GetTrain", "Train", routeValues: new { idTrain = connections[i].arrival.vehicle }, htmlAttributes: null)</li>
                                </ul>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Sorry, no results found for this connection at this day.</p>
}
