@using GetDelaysAPI;
@{
    Train t = ViewBag.train;
    ViewBag.Title = t.vehicle;
}

<h2>@s.vehicle</h2>
<p>stops:</p>
<table>
    <thead>
        <tr>
            <td>Stop Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>Platform:</td>
        </tr>
    </thead>
    @foreach (Stop a in s.stops)
    {
        <tr>
            <td>@a.station</td>
            <td>@a.time</td>
            <td>@a.delay</td>
            <td>@a.platform</td>
        </tr>
    }
</table>
