@using GetDelaysAPI;
@{
    ViewBag.Title = "Notifications";
    List<NotificationStation> stations = ViewBag.NotificationStations;
    List<NotificationConnection> connections = ViewBag.NotificationConnections;
    ViewBag.Number = stations.Count+connections.Count;
}

<h2>Notifications</h2>
@if ((stations != null && stations.Count>=1) || (connections!=null && connections.Count>=1) )
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Details:</th>
                <th scope="col">Delays:</th>
            </tr>
        </thead>
        <tbody>
            @if (stations.Count >= 1)
            {
                foreach (NotificationStation s in stations)
                {
                    if (s.Priority == "normal")
                    {
                        <tr class="table-success">
                            <td>@Html.ActionLink(s.StationName, "GetStationsByName", "Station", routeValues: new { station = s.StationName }, htmlAttributes: null)</td>
                            <td>@s.Delays minutes</td>
                        </tr>
                    }
                    if (s.Priority == "warning")
                    {
                        <tr class="table-warning">
                            <td>@Html.ActionLink(s.StationName, "GetStationsByName", "Station", routeValues: new { station = s.StationName }, htmlAttributes: null)</td>
                            <td>@s.Delays minutes</td>
                        </tr>
                    }
                    if (s.Priority == "danger")
                    {
                        <tr class="table-danger">
                            <td>@Html.ActionLink(s.StationName, "GetStationsByName", "Station", routeValues: new { station = s.StationName }, htmlAttributes: null)</td>
                            <td>@s.Delays minutes</td>
                        </tr>
                    }
                }
            }
            @if (connections.Count >= 1)
            {
                foreach (NotificationConnection c in connections)
                {
                    if (c.Priority == "normal")
                    {
                        <tr class="table-success">
                            <td>@Html.ActionLink("from "+c.Departure+" to "+c.Arrival, "GetConnectionTime", "Connection", routeValues: new { dep=c.Departure,arr=c.Arrival,time=c.Time}, htmlAttributes: null)</td>
                            <td>@c.DelaysDeparture minutes</td>
                        </tr>
                    }
                    if (c.Priority == "warning")
                    {
                        <tr class="table-warning">
                            <td>@Html.ActionLink("from" + c.Departure + " to" + c.Arrival, "GetConnectionTime", "Connection", routeValues: new { dep = c.Departure, arr = c.Arrival, time = c.Time }, htmlAttributes: null)</td>
                            <td>@c.DelaysDeparture minutes</td>
                        </tr>
                    }
                    if (c.Priority == "danger")
                    {
                        <tr class="table-danger">
                            <td>@Html.ActionLink("from " + c.Departure + " to " + c.Arrival, "GetConnectionTime", "Connection", routeValues: new { dep = c.Departure, arr = c.Arrival, time = c.Time }, htmlAttributes: null)</td>
                            <td>@c.DelaysDeparture minutes</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <p>You don't have notifications</p>
}