@using GetDelaysAPI;

@{
    ViewBag.Title = "GetStationsByName";
    Station s = ViewBag.station;
    User u = (User)Session["user"];
    bool seen = true;
    double nbrfrom = Math.Ceiling(Convert.ToDouble(s.arrivals.Count) / 8.0);
    double nbrto = Math.Ceiling(Convert.ToDouble(s.departures.Count) / 8.0);
}
<h2>@s.stationinfo.name</h2>
@if (u != null)
{
    if (u.followedStations != null && u.followedStations.Count > 0)
    {
        foreach (FollowedStation fo in u.followedStations)
        {
            if (fo.stationName == s.stationinfo.name)
            {
                <button type="button" class="btn btn-primary" onclick="window.location.href = '/Station/DeleteFollowStationStation?station=@s.stationinfo.name';">Unfollow This Station</button>
                seen = false;

            }
        }
        if (seen)
        {
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/Station/FollowStation?station=@s.stationinfo.name';">Follow This Station</button>
        }

    }
    else
    {
        <button type="button" class="btn btn-primary" onclick="window.location.href = '/Station/FollowStation?station=@s.stationinfo.name';">Follow This Station</button>
    }
}
else
{
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/Station/FollowStation?station=@s.stationinfo.name';">Follow This Station</button>
}
<p>Rating : @s.stationinfo.rating</p>
<div id="map"></div>
<script>
function initMap() {
  var location = {lat: @s.stationinfo.locationY, lng: @s.stationinfo.locationX};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: location});
    var marker = new google.maps.Marker({ position: location, map: map });
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjpoXXWhFi4r1D5d5_1tF-bzeeFRpmfG0&callback=initMap">
</script>
<br />
<button type="button" id="linkInfo" class="btn btn-primary btn-lg btn-block" onclick="ChangeVisibility('InfoStation')">See more...</button>
<div id="InfoStation">
    @if (s.stationinfo.opening_hours != null && s.stationinfo.opening_hours.Count > 1)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><h3>Opening Hour</h3></th>
                </tr>
            </thead>
            <tbody>
                @foreach (string h in s.stationinfo.opening_hours)
                {
                    <tr class="table-active">
                        <td>@h</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (s.stationinfo.reviews != null && s.stationinfo.reviews.Count > 1)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="5"><h3>Reviews</h3></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < s.stationinfo.reviews.Count; i++)
                {
                    {
                        if (i % 2 == 0)
                        {
                            <tr class="table-active">
                                <th scope="row">Author:</th>
                                <td colspan="2">@s.stationinfo.reviews[i].author_name</td>
                                <th scope="row" style="text-align:right">Rating:</th>
                                <td>@s.stationinfo.reviews[i].rating</td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row">Description:</th>
                                <td colspan="4">@s.stationinfo.reviews[i].text</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>Author:</td>
                                <td colspan="2">@s.stationinfo.reviews[i].author_name</td>
                                <td style="text-align:right">Rating:</td>
                                <td>@s.stationinfo.reviews[i].rating</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="4">@s.stationinfo.reviews[i].text</td>
                            </tr>

                        }
                    }
                }
            </tbody>
        </table>
    }
    <br />
    <br />
</div>
<h3>Arrival</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Departure Station:</th>
            <th scope="col">ETA:</th>
            <th scope="col">Delay:</th>
            <th scope="col">Train:</th>
        </tr>
    </thead>
    @for (int i = 0; i < s.arrivals.Count; i++)
    {
        DateTime trainHour = new DateTime();
        trainHour = trainHour.AddHours(2);
        trainHour = trainHour.AddSeconds(Convert.ToInt32(s.arrivals[i].time));

        if (i < 8)
        {
            if (i % 2 == 0)
            {
                <tr class="table-active">
                    <td>@s.arrivals[i].station</td>
                    <td>@trainHour.TimeOfDay</td>
                    <td>@s.arrivals[i].delay minutes</td>
                    <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle }, htmlAttributes: null)</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@s.arrivals[i].station</td>
                    <td>@trainHour.TimeOfDay</td>
                    <td>@s.arrivals[i].delay minutes</td>
                    <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle }, htmlAttributes: null)</td>
                </tr>
            }
        }
        else
        {
            if (i % 2 == 0)
            {
                <tr class="table-active Arrival" style="display:none">
                    <td>@s.arrivals[i].station</td>
                    <td>@trainHour.TimeOfDay</td>
                    <td>@s.arrivals[i].delay minutes</td>
                    <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle }, htmlAttributes: null)</td>
                </tr>
            }
            else
            {
                <tr style="display:none" class="Arrival">
                    <td>@s.arrivals[i].station</td>
                    <td>@trainHour.TimeOfDay</td>
                    <td>@s.arrivals[i].delay minutes</td>
                    <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle }, htmlAttributes: null)</td>
                </tr>
            }
        }
    }
    <tfoot>
        <tr>
            <td>
                <button type="button" id="arr" class="btn btn-primary" onclick="Display('Arrival','0')">See more...</button>
            </td>
        </tr>
    </tfoot>
</table>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Departure Station:</th>
            <th scope="col">ETA:</th>
            <th scope="col">Delay:</th>
            <th scope="col">Train:</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < s.departures.Count; i++)
        {
            DateTime trainHour = new DateTime();
            trainHour = trainHour.AddHours(2);
            trainHour = trainHour.AddSeconds(Convert.ToInt32(s.departures[i].time));
            if (i < 8)
            {
                if (i % 2 == 0)
                {
                    <tr class="table-active">
                        <td>@s.departures[i].station</td>
                        <td>@trainHour.TimeOfDay</td>
                        <td>@s.departures[i].delay minutes</td>
                        <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@s.departures[i].station</td>
                        <td>@trainHour.TimeOfDay</td>
                        <td>@s.departures[i].delay minutes</td>
                        <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                    </tr>
                }
            }
            else
            {
                if (i % 2 == 0)
                {
                    <tr class="table-active Departure" style="display:none">
                        <td>@s.departures[i].station</td>
                        <td>@trainHour.TimeOfDay</td>
                        <td>@s.departures[i].delay minutes</td>
                        <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                    </tr>
                }
                else
                {
                    <tr class="Departure" style="display:none">
                        <td>@s.departures[i].station</td>
                        <td>@trainHour.TimeOfDay</td>
                        <td>@s.departures[i].delay minutes</td>
                        <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <button type="button" id="dep" class="btn btn-primary" onclick="Display('Departure','1')">See more...</button>
            </td>
        </tr>
    </tfoot>
</table>


