@using GetDelaysAPI;

@{
    ViewBag.Title = "GetStationsByName";
    Station s = ViewBag.station;
    User u = (User)Session["user"];
}
<h2>@s.stationinfo.name</h2>
@if (u != null)
{
    if (u.followedStations != null && u.followedStations.Count > 0)
    {
        foreach (FollowedStation fo in u.followedStations)
        {
            if (fo.stationName == s.stationinfo.name)
            {
                @Html.ActionLink("Unfollow this station", "DeleteFollowStationStation", "Station", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)

            }
            else
            {
                @Html.ActionLink("Follow this station", "FollowStation", "Station", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)
            }
        }
    }
    else
    {
        @Html.ActionLink("Follow this station", "FollowStation", "Station", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)
    }
}
else
{
    @Html.ActionLink("Follow this station", "FollowStation", "Station", routeValues: new { station = s.stationinfo.name }, htmlAttributes: null)
}
<p>Rating : @s.stationinfo.rating</p>
<div id="map"></div>
<script>
function initMap() {
  var location = {lat: @s.stationinfo.locationY, lng: @s.stationinfo.locationX};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: location});
    var marker = new google.maps.Marker({ position: location, map: map });
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjpoXXWhFi4r1D5d5_1tF-bzeeFRpmfG0&callback=initMap">
</script>
<a id="linkInfo" href="#" onclick="ChangeVisibility('InfoStation')">See more...</a>
<div id="InfoStation">
    @if (s.stationinfo.opening_hours != null)
    {
        <table>
            <caption>
                <p>Opening Hour</p>
            </caption>
            @foreach (string h in s.stationinfo.opening_hours)
            {
                <tr>
                    <td>@h</td>
                </tr>
            }
        </table>
    }
    @if (s.stationinfo.reviews != null)
    {
        <table id="Reviews">
            <caption>
                <p>Reviews</p>
            </caption>
            <tbody>
                @foreach (Review r in s.stationinfo.reviews)
                {
                    <tr>
                        <td>Author:</td>
                        <td colspan="2">@r.author_name</td>
                        <td style="text-align:right">Rating:</td>
                        <td>@r.rating</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td colspan="4">@r.text</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <br />
    <br />
</div>
<table id="ArrivalTable">
    <caption>Arrival</caption>
    <thead>
        <tr>
            <td>Departure Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>Train:</td>
        </tr>
    </thead>
    @for (int i = 0; i < s.arrivals.Count; i++)
    {
        if (i < 35)
        {
            <tr class="Arrival" style="display:none">
                <td>@s.arrivals[i].station</td>
                <td>@s.arrivals[i].time</td>
                <td>@s.arrivals[i].delay minutes</td>
                <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrainFromStation", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle, StationName = s.stationinfo.name }, htmlAttributes: null)</td>
            </tr>
        }
        else
        {
            <tr class="Arrival">
                <td>@s.arrivals[i].station</td>
                <td>@s.arrivals[i].time</td>
                <td>@s.arrivals[i].delay minutes</td>
                <td>@Html.ActionLink(s.arrivals[i].vehicle, "GetTrainFromStation", "Train", routeValues: new { idTrain = s.arrivals[i].vehicle, StationName = s.stationinfo.name }, htmlAttributes: null)</td>
            </tr>

        }
    }
    <tfoot>
        <tr>
            <td>
                <a href="#" id="arr" onclick="Display('Arrival','0')">See more...</a>
            </td>
        </tr>
    </tfoot>
</table>
<table id="DepartureTable">
    <caption> Departure</caption>
    <thead>
        <tr>
            <td>Arrival Station:</td>
            <td>ETA:</td>
            <td>Delay:</td>
            <td>train:</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < s.departures.Count; i++)
        {
            if (i < 35)
            {
                <tr class="Departure" style="display:none">
                    <td>@s.departures[i].station</td>
                    <td>@s.departures[i].time</td>
                    <td>@s.departures[i].delay minutes</td>
                    <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                </tr>
            }
            else
            {
                <tr class="Departure">
                    <td>@s.departures[i].station</td>
                    <td>@s.departures[i].tForView</td>
                    <td>@s.departures[i].delay minutes</td>
                    <td>@Html.ActionLink(s.departures[i].vehicle, "GetTrain", "Train", routeValues: new { idTrain = s.departures[i].vehicle }, htmlAttributes: null)</td>
                </tr>

            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a href="#" id="dep" onclick="Display('Departure','1')">See more...</a>
            </td>
        </tr>
    </tfoot>
</table>


